section.info{
    display: flex;
    align-items: center;
    background-color: $primary-color;
    height: 130px;

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a{
        width: 250px;
        display: flex;
        align-items: center;
        color:white;
        text-transform: uppercase;
    }
    a:hover{
        color: $secondary-color;
    }
    img{
        max-width: 45px;
        margin: 15px;
    }
}
